{% extends 'website/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

        <br>
        <div class="container bg-dark p-5 form-layout">
            <h3> Create Record</h3>

            <h6> Add in the required details</h6>

            <hr>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{create_form|crispy}}
                <br>
                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Create Record </button>
            </form>
        </div>
{% endblock %}