{% extends 'website/base.html' %}
{% block content %}
    <br>
    <h5> Welcome to the Game Data Demo Page</h5>
    <hr>

    <table class="table table-dark table-hover table-bordered">
        <thread class="table-primary">
            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Name </th>
                <th scope="col"> Stars </th>
            </tr>
        </thread>

        <tbody>
        {% if data %}
            {% for row in data %}
            <tr>
                <td> {{row.id}} </td>
                <td> {{row.character_name}} </td>
                <td> {{row.stars}} </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% endblock %}