{% extends 'website/base.html' %}

{% block content %}
    <br>
    <div class="text-center">
        <h3>Welcome to the GAMES page!</h3>
        <hr>
        <p>this is a really cool piece of text</p>
        <h1>cool icon <i class="fa fa-leaf"></i></h1>
        <hr>
            <p><i class="fa fa-bug fa-spin fa-3x fa-fw"></i></p>
            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
            <p><i class="fa fa-superpowers fa-spin fa-3x fa-fw"></i><i class="fa fa-superpowers fa-pulse fa-3x fa-fw"></i></p>
        <hr>
    </div>
{% endblock %}